.header {
  top: 0px;
  height: 100px;
  width: 100%;
  clear: both;
  position: absolute;
  background-color: rgb(109, 202, 202);
  text-align: center;
}

.header span {
  color: rgb(138, 98, 38);
  font-size: 55px;
  text-transform: uppercase;
  -webkit-user-select: none;
}
